Source: libvmod-geoip-city
Section: web
Priority: extra
Maintainer: Mina Smart <m.d.smart@gmail.com>
Build-Depends: debhelper (>= 7), build-essential, python-docutils
Standards-Version: 3.8.1
Vcs-Git: git://github.com/scoremedia/libvmod-geoip-city.git

Package: libvmod-geoip-city
Architecture: any
Depends: varnish, ${misc:Depends}
Description: Geoip City vmod for Varnish
